.root {
    -fx-font-size: 18px;
    -fx-background-color: white;
}

.h1 {
    -fx-font-size: 40px;
}

.h3 {
    -fx-font-size: 20px;
}

.tab-btn {
    -fx-pref-height: 40;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-alignment: center-left;
}

.tab-btn:focused {
    -fx-background-color: #388ed1;
}
